<span class="back-link"><%= link_to _("Back to '%s'") % translate(@topic.name), resource_path(@topic) %></span>
<h2><%= _("'%s' USERS" % translate(@topic.name)) %></h2>

<p class="margin_after">
  <%= _("Here you can manage user roles assigned to this topic.") %>
</p>

<table class="wide" id="role_administration">
  <tr>
   	<th class="username"><%= _("User name") %></th>
    <th><%= _("Role") %></th>
    <th class="actions"><%= _("Actions") %></th>
  </tr>
  <% @sig_members.each do |sig_member| %>
    <% unless session.user.admin? || sig_member.role != :owner %>
      <tr>
        <td><%= sig_member.user.name %><% if sig_member.user == session.user %> (<%= _("you") %>)<% end %></td>
        <td><%= _(sig_member.role.to_s) %><% unless sig_member.accepted %> (<%= _("waiting for acceptance") %>)<% end %></td>
        <td></td>
      </tr>
    <% else %>
      <tr>
        <td><%= sig_member.user.name %><% unless sig_member.accepted %> (<%= _("waiting for acceptance") %>)<% end %></td>
        <td>
          <%= form_for @sig_member, :action => resource_path(@topic, sig_member), :method => "put" , :class => "floated_left" do %>
            <fieldset>
              <%= select :role, :selected => sig_member.role.to_s , :collection => SigMember::ROLES.collect{|symbol_in_array| symbol_in_array.to_s }, :class => "floated_left"   %>
              <%= submit _("Change"), :class => "button", :name => "change" %>
            </fieldset>
          <% end =%>
        </td>
        <td>
          <fieldset>
            <%= submit _("Remove"), :class => "button remove_role" %>
          </fieldset>
        </td>
      </tr>
    <% end %>
  <% end %>
 <%= form_for @sig_member, :action => resource_path(@topic, :sig_members) do %>
 <tr>
   <td colspan="3">&nbsp;</td>
 </tr>
 <tr>
   <th colspan="3"><%= _("Add new role") %></th>
 </tr>
 <tr class="new_role_form">
   <td>
     <%= select :user_id, :collection => [{ :group_name => _("Friends"), :data => @friends }, { :group_name => _("Others"), :data => [AddByEmailStub.new] }], :value_method => :id, :text_method => :name %>
     <%= text_field :name => "sig_member[email]", :value => "", :style => params[:show_email] || @friends.empty? ? '' : "display: none" %>
   </td>
   <td><%= select :role, :collection => SigMember::ROLES.map { |r| [r, _(r.to_s)] } %></td>
   <td><fieldset><%= submit _("Add role"), :class => "button" %></fieldset></td>
 </tr>
 <% end =%>
</table>

<%= paginator(@page_count) %>

<% if @topic.owners.include?(session.user) %>
  <% throw_content(:for_right_column, partial(:"sig_members/cug_access_requests") ) %>
<% end %>
